*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    /* font-size: 62.5%; */
    font-size: 75%;
    /* 100% is 16px....1 rem = (100*10)/16 ===> 1 rem = 10px...we calc this for easy rememberence....hereafter 1 rem is 10px.*/
}
body{
    /* background-color: dimgray; */
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 8rem 1fr 8rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 55px ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: -1/1;
    /* bottom: 4%; */
    /* padding: 50px; */
}

.leftHead{
    padding: 50px;
}
.rightHead{
    display: flex;
    padding: 50px;
}
.rightHead p{
    padding: 5px;
}

nav{
    margin-bottom: 5rem;

    /* list-style: none;           this line wont occur , cz it considers whole Nav*/   
}
nav .icons{
    list-style: none;
    
}
nav .icon{
    color: black;
    padding: 1rem;
    
}

nav .icon :hover{
    cursor: pointer;
}
nav .icon :active{
    color: #fff;
}

article{
    font-size: 1.5rem;
}
article .bodyHeading{
    display:inline-block;
    padding: 2rem 0 0 2rem;
}

article .innerContainer{
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    padding: 3rem;
    gap: 5rem;
}



footer{
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    gap: 8rem;
    /* flex-wrap: wrap; */
    
}
footer img {
    display: flex;
    height: 50px;
    padding-left: 5rem;
}