*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 100%;
    /* 100% is 16px....1 rem = (100*10)/16 ===> 1 rem = 10px...we calc this for easy rememberence....hereafter 1 rem is 10px.*/
}
body{
    /* background-color: dimgray; */
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 8rem 1fr 8rem;
    max-width: 150rem;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: -1/1;
}
.leftHead{
    /* padding: 5rem; */
    /* margin: 2px; */
    
}
.rightHead{
    display: flex;
    margin: 0;
    padding: 4rem;
    gap: 1px;
}
