*{
    box-sizing: border-box;
}

html,body .wrapper{
    height: 100%;
    background-color: antiquewhite;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    color: #ff6700;
    animation: rotate 5s infinite alternate linear;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.login-card{
    margin: 8rem;
    width: 400px;
    padding: 60px 30px 32px;
    border-radius: 1.25rem;
    background: #efd9cb;
    text-align: center;
    transition: 0.4s;
}

.login-card > h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 30px;
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
}

.login-form input.control::placeholder{
    color: #9d9fbd;
}

.control {
    border: 1.5px solid #dfe1f0;
    outline: none;
    width: 100%;
    height: 26px;
    padding: 0 10px;
    background: #f6f7ff;
    color: inherit;
    border-radius: 5px;
    margin: 8px 0;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
}

button.control {
    width: 100%;
    height: 26px;
    padding: 0 10px;
    /* background: ; */
    color: #000;
    border: 0;
    text-align: center;
    margin-top: 12px;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.bars {
    margin: 8px 0;
    display: flex;
    flex:  1 1 auto;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    /* background: #dfe1f0; */
}

.bars div {
    height: 3px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
}

.bars.weak div {
    background: #e24c71;
    width: 33.33%;
  }
  
  .bars.medium div {
    background: #f39845;
    width: 66.66%;
  }
  
  .bars.strong div {
    background: #57c558;
    width: 100%;
  }

  .strength {
    text-align: left;
    height: 15px;
    text-transform: capitalize;
    color: #868b94;
  }